# Environnement Python
.venv/
__pycache__/

# Données de fine-tune / samples
finetune/put-voice-samples-in-here/
outputs/

# Modèles lourds (si tu les as ici)
models/
*.pth
*.pt
*.bin
*.onnx

# Logs & cache
*.log
logs/
cache/
# Fine-tune temp
finetune/tmp-trn/
finetune.py.bak
